<div id="pages">
<% @user_book.pages.each do |page| %>
	<% unless page.processed_image.nil? %>
		<a class="top_up" href="<%= page.processed_image %>"><img src="<%= page.processed_image_thumb_url %>"/></a>
	<% end %>
<% end %>
</div>

<script type="text/javascript">
	TopUp.addPresets({
  	"#pages a": {
    	title: "Gallery {alt} ({current} of {total})",
     	group: "pages",
     	readAltText: 1,
     	shaded: 1,
			y: 10
   	}
	});
</script>
