/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require galleria/themes/classic/galleria.classic.css
 *= require_tree .
 *= dropdown_one.css
*/

body {
	background: none repeat scroll 0 0 white;
  color: #222;
  font-family: Georgia,serif;
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  margin: 0;
  padding: 30px;
}

#main_header {
	position: absolute;
  top: 0;
	left: 0;
	width: 100%;
	height: 113px;
	margin: 0;
	padding: 0;
	background-color: #333;
	text-align: bottom;
}

#logo {
	padding-left: 20px;
  padding-top: 10px;
  width: 340px;
	float: left;
}

a:link {color:#A20000; text-decoration:none;}      /* unvisited link */
a:visited {color:#A20000; text-decoration:none;}  /* visited link */
a:hover{background-color:#7FBBF3;}

#user {
	float: right;
	color: white;
	margin: 30px 20px 0px 0px;
	text-decoration: none;
}

#sign-out {
	margin-top: 5px;
}

#sign-out a {
	color: white;
	text-decoration: underline;
}

#content {
	position: absolute;
	top: 125px;
}

.box {
	padding: 10px;
	border: 1px solid gray;
	width: 700px;
}
